.hello{
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-size: cover;
}
.Main Headindig{
    text-align: center;
    color: rgb(42, 165, 108);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 4px -2px rgb(84, 0, 239);
}
h2,.pre{
    color: rgb(17, 0, 255);
    font-family: cursive;

}
pre{
    margin: 20px;
    font-size: 25px;
    color: green;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.answer{
    display: flex;
    margin-left: 30px;
}
.output{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}